@mixin rotate($deg: 0){
    $sDeg: #{$deg}deg;

    -webkit-transform: rotate($sDeg);
    -moz-transform: rotate($sDeg);
    -ms-transform: rotate($sDeg);
    -o-transform: rotate($sDeg);
    transform: rotate($sDeg);
}

/* 
## Application Styles
*/

.icon-rotate-0 {
    @include rotate();
}

.icon-rotate-45 {
    @include rotate(45);
}

.icon-rotate-135 {
    @include rotate(135);
}

.icon-rotate-225 {
    @include rotate(225);
}

.icon-rotate-315 {
    @include rotate(315);
}

.resizer {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      border-top: 8px solid #1c87c7;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      @include rotate(-45);
      opacity: 0.5;
      position: absolute;
      bottom: 1px;
      right: -3px;
      pointer-events: none;
    }
}

button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.label-is-down {
    transform: translateY(2.125rem);
    font-size: 1.25rem;
    transition: all 0.35s;
    transition-delay: 0.5s;
    backface-visibility: hidden;
}

.label-is-up {
    transform: translate(0);
    font-size: 1rem;
    transition: all 0.35s;
    backface-visibility: hidden;
}

// See https://slickmedia.co.uk/blog/flexbox-force-wrap/
.flex-break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: inline-block;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~tachyons/css/tachyons.min.css";
@import "blinkdotanim";
@import "v_cloak";
@import "scrollbarstyle3";
@import "~normalize.css/normalize.css";

/* 
## Additional normalizations
*/

input,
button,
select {
    border-style: none;
    border-width: 0;
    padding: 0;
    outline-color: #357EDD; // tachyons blue
    font-family: inherit;
    font-size: inherit;
}

textarea {
    border-style: none;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    outline-color: #357EDD; // tachyons blue
    box-shadow: none;
    resize: none;
    pointer-events: all;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}