/* 
## Application Styles
*/

button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.label {
    transform: translateY(2.125rem);
    font-size: 1.25rem;
    transition: all 0.35s;
    z-index: -1;
}

.label:hover {
    transform: translateY(0);
    font-size: 1rem;
    transition: all 0.35s;
    z-index: 1;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~tachyons/css/tachyons.min.css";
@import "blinkdotanim";
@import "v_cloak";
@import "scrollbarstyle3";
@import "~normalize.css/normalize.css";

/* 
## Additional normalizations
*/

input,
button,
select {
    border-style: none;
    border-width: 0;
    padding: 0;
    outline-color: #357EDD; // tachyons blue
    font-family: inherit;
    font-size: inherit;
}

textarea {
    border-style: none;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    outline-color: #357EDD; // tachyons blue
    box-shadow: none;
    resize: none;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}