<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body class="flex items-center justify-center vh-100">
    <div class="w-25 center ba b--black-10" id="twitterVue" v-cloak>
    </div>
</body>

</html>